@import 'tailwindcss';

* {
  @apply focus:outline-2 focus:outline-blue-400;
}
.lucide {
  @apply !stroke-[1.5];
}
@utility hopper {
  display: grid;
  grid-template-areas: 'hopper';
  & > * {
    grid-area: hopper;
  }
}
