@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@import '../../ui/dist/index.css';
@source '../../ui/dist/index.css';

@theme inline {
  --font-sans: geist;
  --font-mono: geist mono;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}
@theme {
  --bg-size-xs: 6px;
  --bg-size-sm: 12px;
  --bg-size-normal: 24px;
  --bg-size-md: 36px;
  --color-zinc-850: #202023;
  --color-zinc-925: #111113;
}
@layer components {
  .asdasd {
    background: #123123;
  }
}
@utility hopper {
  display: grid;
  grid-template-areas: 'hopper';
  & > * {
    grid-area: hopper;
  }
}
.studio {
  @apply font-sans min-h-screen;
  code,
  pre {
    @apply font-mono;
  }
}
@utility bg-dots-* {
  --color-1: var(--color-zinc-800);
  --color-2: transparent;
  --size: --value(--bg-size- *);
  background-image: radial-gradient(var(--color-1) 1px, transparent 1px);
  background-size: var(--size) var(--size);
  background-color: var(--color-2);
}
@utility bg-lines-* {
  --color-1: var(--color-zinc-900);
  --size: --value(--bg-size- *);
  background-image: repeating-linear-gradient(45deg, var(--color-1) 0, var(--color-1) 1px, transparent 0, transparent 50%);
  background-size: var(--size) var(--size);
}
@utility bg-stripes-* {
  --color-1: var(--color-zinc-900);
  --size: --value(--bg-size- *);
  background-image: repeating-linear-gradient(45deg, transparent, transparent var(--size), var(--color-1) var(--size), var(--color-1) calc(var(--size) * 2));
}
